<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Motivation Unlimited - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="main-container">
        <div class="navbar">
            <div class="logo"><a href="/">Motivation Unlimited</a></div>
            <div class="navigation">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/feedback">Feedback</a>
            </div>
        </div>
        <div class="content-main-2">
            <div class="img-about">
                <img src="https://rawr.hackclub.com/dinosaur_waving.png" alt="">
            </div>
            <div class="content-main-x">
                <h1>Built by <a style="color: black;" href="https://codedbymohit.xyz">Mohit Tiwari</a>
                    </h1>
                    <span>This website was created for <a style="color: black; padding: 1px"
                        href="https://slushies.hackclub.com">Slushies</a>! It is a Flask YSWS, in which you need to create a
                        website using Flask and they will ship you 5$ (or 10$ if you meet additional requirements)!</span>
                <span>You might find the UI in this website a bit odd or a bit oldish type, that is because i tried my best to give it a retro look, idk why but i think maybe flask is used in old websites thats why haha</span>
                <span>The name of this website is very much inspired by @Abhay's old channel #motivation-unlimited which he made in the arcade times to give ppl motivations! He used to share very great quotes there!</span>
            </div>
        </div>
    </div>
</body>

</html>